form{
    margin:2rem auto;
    width: 40rem;

}
form input,
form textarea{
    display: block;
    width: 100%;
    margin:1rem 0;
}
form label{
    font-size: 2.2rem;
}
.btn{
    display: block;
    width:15rem;
    height:4rem;
    background: rgb(78, 78, 214);
    outline:none;
    color:white;
    font-size:2rem;
    cursor: pointer;
    border-radius: 2rem;
}