form.product-form{
    margin:2rem auto;
    width: 40rem;

}
form.product-form input{
    height:3rem;
}
form.product-form input,
form.product-form textarea{
    display: block;
    width: 100%;
    margin:1rem 0;
    border:none;
    outline:0.1rem solid black;
}
form.product-form input:focus,
form.product-form textarea:focus{
    outline-color:rgb(78, 78, 214);
}
form.product-form label{
    font-size: 2.2rem;
}
form.product-form input.invalid,
form.product-form textarea.invalid{
border-color:red;
}
